# Server Configuration
PORT=3000

# Gemini API Keys
GEMINI_API_KEY="AIzaSyBMYL4ro0UI4CDL29zxYksJqYymCQ8spW4"
GEMINI_API_KEY_1="AIzaSyAe5m4-yh7au6IU255wydb38886YYKUGv0"
GEMINI_API_KEY_2="AIzaSyBMB1RU9ietk2qx6WFFGoQSWTfGzO9Lz04"
GEMINI_API_KEY_3="AIzaSyBgDdSvezuWsMGuBkQSw2_RNbZp_J9l7xk"
GEMINI_API_KEY_4="AIzaSyBYdyB-jeX9y29vH23GjUy0OXhjqcgXI04"
GEMINI_API_KEY_5="AIzaSyCSUCgPU7_WfJ-LRbXMjO9YFWpgef41YRQ"
GEMINI_API_KEY_6="AIzaSyAr_yefLzF-fMiNNJpc07A9o2z46qLvfzA"
GEMINI_API_KEY_7="AIzaSyBot_wI79p6AVdIR3yrL18_Q2UUuT5P6kc"
GEMINI_API_KEY_8="AIzaSyASoHtVn3-LHp_LuprdF6bEtBXcng0Q0"
GEMINI_API_KEY_9="AIzaSyDJD-1Bv51RLy0kCgjhPM5GjH4KQA8Ovls"

# Other AI Providers
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""

# Security Secrets
PRIVATE_SOURCE_PASSWORD="daso21"
JWT_SECRET=""
HMAC_SECRET=""
