# IBM QUANTUM API CONFIGURATION
# Daftar gratis di: https://quantum-computing.ibm.com/
# Copy token API Anda ke sini.
IBMQ_API_TOKEN=0jC6PcgeIoZRi719GQRLa-i0KbPlk7dnuH9j8N1wd2OZ

# MINING CONFIG
TARGET_PROFIT_OVERRIDE=10
QUANTUM_BACKEND_PREFERENCE=ibmq_qasm_simulator